<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>小明查询</title>
    <link href="/static/layui/css/layui.css" rel="stylesheet">
</head>
<body>
    <h1>欢迎进入小明系统</h1>
        <h2>请输入查询内容：</h2>
        <div class="layui-form" id="center">   
            <div class="layui-col-md4">
                <div class="layui-input-wrap">
                  <div class="layui-input-prefix">
                    <i class="layui-icon layui-icon-username"></i>
                  </div>
                  <input style="text-align:center;vertical-align:middel;" type="text" placeholder="区块链所属区块集" class="layui-input">
                </div>
              </div>
            <a href="/jieshou"><button type="button" class="layui-btn layui-bg-blue">遍历</button></a>
        </div>
</body>
</html>